{% extends "admin/change_form.html" %}

{% load humanize %}

{% block content_title %}
    <h1> Tweets Summary </h1>
{% endblock %}

{% block after_field_sets %}
{% if change %}

    <style>

    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }

    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -3em;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }

    </style>

    <span><a href="https://twitter.com/@{{account}}">https://twitter.com/@{{account}}</a></span>

    <div class="results">
        <div class="bar-chart">
        {% for key, value in tweets_timeline.tweets.items %}
            <div class="bar" style="height:{% widthratio value tweets_timeline.max_count 100 %}%">
                <div class="bar-tooltip">
                    {{key}}<br>
                    {{value | default:0 | intcomma }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
